on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061
        with:
          with_install: false
      - uses: actions/setup-node@633bb92bc0aabcae06e8ea93b85aecddd374c402
        with:
          node-version: 24
      - run: pnpm i --frozen-lockfile
      - run: pnpm check-format
      - run: pnpm release-build
