on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98
      - uses: pnpm/action-setup@9b5745cdf0a2e8c2620f0746130f809adb911c19
        with:
          with_install: false
      - uses: actions/setup-node@54045abd5dcd3b0fee9ca02fa24c57545834c9cc
        with:
          node-version: 24
      - run: pnpm i --frozen-lockfile
      - run: pnpm check-format
      - run: pnpm release-build
