on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@c2d88d3ecc89a9ef08eebf45d9637801dcee7eb5
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061
        with:
          with_install: false
      - uses: actions/setup-node@b9b25d45f70a5d94d88496aa4896bf9ed8f49b67
        with:
          node-version: 24
      - run: pnpm i --frozen-lockfile
      - run: pnpm check-format
      - run: pnpm release-build
